<a href="https://colab.research.google.com/github/karinboc/Recommenders/blob/main/Basic_Recom_Karin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### As part of my recommender system project I implemented a few different approaches: 
* **Heuristics**:
** Recommend to each user the product that he bought most often (Acc=31.24%)
** Recommend to each user the product that he bought most, taking into account the quantity
* **Matrix factorization**
* **Microsoft's SotA algorithms (sliRec, Caser)**

In [ ]:
!git clone https://github.com/urigoren/recom-day-2020-challenge.git

Cloning into 'recom-day-2020-challenge'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 3), reused 5 (delta 2), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [ ]:
import numpy as np
from collections import Counter
from sklearn.model_selection import train_test_split
from scipy import sparse
#import jovian
import pandas as pd
import urllib.request
from functools import partial
#import sys
#sys.path.insert(0, './recom-day-2020-challenge')
%cd recom-day-2020-challenge
import argmaxml

/content/recom-day-2020-challenge/recom-day-2020-challenge

Add your full name, email, and phone number.
We will contact you with a free ticket in case you win

In [ ]:
# Fill in your full name, email and phone number
my_submit = partial(argmaxml.submit, "Karin", "karinboc@gmail.com", "052")

## Reading the data

In [ ]:
df = pd.read_csv("jul_train.csv")
test_users = df.user_id.unique()

## Creating a submission

## Evaluation 1 

##### Recommend to each user the product that he bought most often, regardless of the quantity that he bought in each time.

In [ ]:
test_submission = df.groupby("user_id")["product_id"]\
                    .apply(lambda x: x.value_counts().idxmax())
test_submission

user_id
1       1621
2       2879
3       1978
4       3917
5       2196
        ...
4407    3277
4408     564
4409    3917
4412     985
4414    1188
Name: product_id, Length: 2609, dtype: int64

In [ ]:
submission_name = "already_bought_best"
my_accuracy = my_submit(submission_name, test_submission)
print ("Submission Accuracy for {s} : {a:0.2f}%".format(a=100*my_accuracy, s=submission_name))

Submission Accuracy for already_bought_best : 31.24%

##### Select the top-k frequent products, and then, sample at random one of them.

In [ ]:
test_submission = df.groupby("user_id")["product_id"]\
                    .apply(lambda x: x.value_counts().nlargest(2).sample(1).idxmax())
test_submission

user_id
1       1621
2       2879
3       1978
4       2686
5       2196
        ...
4407    3277
4408     564
4409     167
4412     985
4414    4112
Name: product_id, Length: 2609, dtype: int64

In [ ]:
submission_name = "already_bought_best"
my_accuracy = my_submit(submission_name, test_submission)
print ("Submission Accuracy for {s} : {a:0.2f}%".format(a=100*my_accuracy, s=submission_name))

Submission Accuracy for already_bought_best : 26.41%

## Evaluation 2 

##### Recommend to each user the product that he bought most, taking into account the quantity.

In [ ]:
test_submission = df.groupby("user_id")["product_id", "quantity"]\
                    .apply(lambda x: list(x.groupby("product_id").sum().idxmax())[0])
test_submission

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

user_id
1       3917
2       2879
3       3917
4       3917
5        167
        ...
4407    3277
4408     167
4409     167
4412      31
4414    3165
Length: 2609, dtype: int64

In [ ]:
submission_name = "already_bought_best"
my_accuracy = my_submit(submission_name, test_submission)
print ("Submission Accuracy for {s} : {a:0.2f}%".format(a=100*my_accuracy, s=submission_name))

Submission Accuracy for already_bought_best : 29.32%






## Evaluation 3 - Matrix Factorization

In [ ]:
df.head()

   user_id  segment_id  order_id  ...  order_year  order_month  order_day
0     2832           4     26369  ...        2018           10         28
1     2832           4     26369  ...        2018           10         28
2     2230           4     21747  ...        2018           10         31
3     2230           4     21747  ...        2018           10         31
4     2908           4     33134  ...        2018           10         31

[5 rows x 10 columns]

##Train-Valid Split

In [ ]:
df_totals = df.groupby("user_id")["product_id", "quantity"]\
                    .apply(lambda x: x.groupby("product_id").sum())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
train_df, valid_df = train_test_split(df_totals.copy(), test_size=0.02)

#resetting indices to avoid indexing errors in the future
train_df = train_df.reset_index()[['user_id', 'product_id', 'quantity']]
valid_df = valid_df.reset_index()[['user_id', 'product_id', 'quantity']]

In [ ]:
valid_df.shape
train_df.shape

(81137, 3)

##Training

###Encoding columns with continuous ids
Because we'll be using PyTorch's embedding layers to create our user and item embeddings, we need continuous IDs to be able to index into the embedding matrix and access each user/item embedding.

In [ ]:
def encode_column(column):
    """ Encodes a pandas column with continuous IDs"""
    keys = column.unique()
    key_to_id = {key:idx for idx,key in enumerate(keys)}
    id_to_key = {idx:key for idx,key in enumerate(keys)}
    return key_to_id, id_to_key, np.array([key_to_id[x] for x in column]), len(keys)

def encode_df(df):
    """Encodes quantity data with continuous user and prod ids"""

    prod_ids, id_prods, df['product_id'], num_prod = encode_column(df['product_id'])
    user_ids, id_users, df['user_id'], num_users = encode_column(df['user_id'])
    return df, num_users, num_prod, user_ids, prod_ids, id_prods, id_users

In [ ]:
dfp, num_users, num_prod, user_ids, prod_ids, id_prods, id_users = encode_df(train_df)
print("Number of users :", num_users)
print("Number of prods :", num_prod)
dfp.head()

Number of users : 2609
Number of prods : 4227

   user_id  product_id  quantity
0        0           0        23
1        1           1         2
2        2           2         1
3        3           3         2
4        4           4         2

####Initializing user and item embeddings

In [ ]:
def create_embeddings(n, d):
    """
    Creates a random numpy matrix of shape n, d with uniform values in (0, 11/d)
    n: number of items/users
    d: number of features in the embedding 
    """
    return 11*np.random.random((n, d)) / d

def create_sparse_matrix(df, rows, cols, column_name="quantity"): # we treat quantity as rating of a product
    """ Returns a sparse utility matrix""" 
    return sparse.csc_matrix((df[column_name].values,(df['user_id'].values, df['product_id'].values)),shape=(rows, cols))

In [ ]:
#Y is a sprase matrix whose values are the quantities, and its row (col) index is user (prod) id 
Y = create_sparse_matrix(dfp, num_users, num_prod)

In [ ]:
Y.todense()

matrix([[23,  0,  0, ...,  0,  0,  0],
        [ 2,  2,  0, ...,  0,  0,  0],
        [ 0,  0,  1, ...,  0,  0,  0],
        ...,
        [ 0,  0,  0, ...,  0,  0,  0],
        [ 0,  0,  0, ...,  0,  0,  0],
        [ 0,  0,  0, ...,  0,  0,  0]], dtype=int64)

#####Making Predictions

In [ ]:
def predict(df, emb_user, emb_prod):
    """ This function computes df["prediction"] without doing (U*V^T).
    
    Computes df["prediction"] by using elementwise multiplication of the corresponding embeddings and then 
    sum to get the prediction u_i*v_j. This avoids creating the dense matrix U*V^T.
    """
    df['prediction'] = np.sum(np.multiply(emb_prod[df['product_id']],emb_user[df['user_id']]), axis=1)
    return df

#####Loss

In [ ]:
lmbda = 0.0002

In [ ]:
def cost(df, emb_user, emb_prod):
    """ Computes mean square error"""
    Y = create_sparse_matrix(df, emb_user.shape[0], emb_prod.shape[0])
    predicted = create_sparse_matrix(predict(df, emb_user, emb_prod), emb_user.shape[0], emb_prod.shape[0], 'prediction')
    return np.sum((Y-predicted).power(2))/df.shape[0]

#####Gradient Descent

In [ ]:
def gradient(df, emb_user, emb_prod):
    """ Computes the gradient for user and anime embeddings"""
    Y = create_sparse_matrix(df, emb_user.shape[0], emb_prod.shape[0])
    predicted = create_sparse_matrix(predict(df, emb_user, emb_prod), emb_user.shape[0], emb_prod.shape[0], 'prediction')
    delta =(Y-predicted)
    grad_user = (-2/df.shape[0])*(delta*emb_prod) + 2*lmbda*emb_user
    grad_prod = (-2/df.shape[0])*(delta.T*emb_user) + 2*lmbda*emb_prod
    return grad_user, grad_prod

In [ ]:
def gradient_descent(df, emb_user, emb_prod, iterations=3000, learning_rate=0.01):
    """ 
    Computes gradient descent with momentum (0.9) for given number of iterations.
    emb_user: the trained user embedding
    emb_prod: the trained prod embedding
    """
    Y = create_sparse_matrix(df, emb_user.shape[0], emb_prod.shape[0])
    beta = 0.9
    grad_user, grad_prod = gradient(df, emb_user, emb_prod)
    v_user = grad_user
    v_prod = grad_prod
    for i in range(iterations):
        grad_user, grad_prod = gradient(df, emb_user, emb_prod)
        v_user = beta*v_user + (1-beta)*grad_user
        v_prod = beta*v_prod + (1-beta)*grad_prod
        emb_user = emb_user - learning_rate*v_user
        emb_prod = emb_prod - learning_rate*v_prod
        if(not (i+1)%50):
            print("\niteration", i+1, ":")
            print("train mse:",  cost(df, emb_user, emb_prod))           
    return emb_user, emb_prod

In [ ]:
emb_user = create_embeddings(num_users, 127)
emb_prod = create_embeddings(num_prod, 127)
emb_user, emb_prod = gradient_descent(dfp, emb_user, emb_prod, iterations=20000, learning_rate=0.05)

iteration 50 :
train mse: 90.8775990778375

iteration 100 :
train mse: 90.28570645710681

iteration 150 :
train mse: 89.6128608640258

iteration 200 :
train mse: 88.83514477676887

iteration 250 :
train mse: 87.92731733147404

iteration 300 :
train mse: 86.8629591590736

iteration 350 :
train mse: 85.6150905695193

iteration 400 :
train mse: 84.15739626854247

iteration 450 :
train mse: 82.4661895146431

iteration 500 :
train mse: 80.52319617095421

iteration 550 :
train mse: 78.31910999005892

iteration 600 :
train mse: 75.85764370199192

iteration 650 :
train mse: 73.15948270607429

iteration 700 :
train mse: 70.2652027684358

iteration 750 :
train mse: 67.23598130477289

iteration 800 :
train mse: 64.15101470445151

iteration 850 :
train mse: 61.101124412196604

iteration 900 :
train mse: 58.17908603049376

iteration 950 :
train mse: 55.46844043405121

iteration 1000 :
train mse: 53.03338290803372

iteration 1050 :
train mse: 50.91225305749329

iteration 1100 :
train mse: 49.11606197309936

iteration 1150 :
train mse: 47.63186297876892

iteration 1200 :
train mse: 46.429373031906934

iteration 1250 :
train mse: 45.468665986153646

iteration 1300 :
train mse: 44.70705506377813

iteration 1350 :
train mse: 44.10409126560257

iteration 1400 :
train mse: 43.62444865319328

iteration 1450 :
train mse: 43.23903740194571

iteration 1500 :
train mse: 42.92491443500328

iteration 1550 :
train mse: 42.66454027812297

iteration 1600 :
train mse: 42.44479095911117

iteration 1650 :
train mse: 42.25597512491848

iteration 1700 :
train mse: 42.09097933538783

iteration 1750 :
train mse: 41.94458144462719

iteration 1800 :
train mse: 41.81292668896178

iteration 1850 :
train mse: 41.6931415167762

iteration 1900 :
train mse: 41.583055419685046

iteration 1950 :
train mse: 41.48100341528055

iteration 2000 :
train mse: 41.385686842932955

iteration 2050 :
train mse: 41.29607543196824

iteration 2100 :
train mse: 41.211338195136044

iteration 2150 :
train mse: 41.13079431249131

iteration 2200 :
train mse: 41.053877851816424

iteration 2250 :
train mse: 40.9801120890674

iteration 2300 :
train mse: 40.90909053021659

iteration 2350 :
train mse: 40.84046265441736

iteration 2400 :
train mse: 40.773923022767384

iteration 2450 :
train mse: 40.709202819112555

iteration 2500 :
train mse: 40.64606317443594

iteration 2550 :
train mse: 40.58428981934011

iteration 2600 :
train mse: 40.52368874042494

iteration 2650 :
train mse: 40.46408260641559

iteration 2700 :
train mse: 40.40530779231165

iteration 2750 :
train mse: 40.34721187363392

iteration 2800 :
train mse: 40.289651494031276

iteration 2850 :
train mse: 40.232490532056666

iteration 2900 :
train mse: 40.17559850948846

iteration 2950 :
train mse: 40.11884919595137

iteration 3000 :
train mse: 40.062119373994896

iteration 3050 :
train mse: 40.00528773605234

iteration 3100 :
train mse: 39.9482338904107

iteration 3150 :
train mse: 39.89083745788352

iteration 3200 :
train mse: 39.83297724458979

iteration 3250 :
train mse: 39.77453047932026

iteration 3300 :
train mse: 39.71537210657782

iteration 3350 :
train mse: 39.65537412863599

iteration 3400 :
train mse: 39.59440499196226

iteration 3450 :
train mse: 39.532329015177176

iteration 3500 :
train mse: 39.46900585742521

iteration 3550 :
train mse: 39.404290027667095

iteration 3600 :
train mse: 39.33803043700545

iteration 3650 :
train mse: 39.270069997755

iteration 3700 :
train mse: 39.20024527459118

iteration 3750 :
train mse: 39.128386194770336

iteration 3800 :
train mse: 39.054315826121474

iteration 3850 :
train mse: 38.97785023326302

iteration 3900 :
train mse: 38.898798424289744

iteration 3950 :
train mse: 38.816962401984114

iteration 4000 :
train mse: 38.73213733540007

iteration 4050 :
train mse: 38.644111869397456

iteration 4100 :
train mse: 38.55266859130547

iteration 4150 :
train mse: 38.45758467527831

iteration 4200 :
train mse: 38.35863272596801

iteration 4250 :
train mse: 38.255581843745475

iteration 4300 :
train mse: 38.14819893369547

iteration 4350 :
train mse: 38.03625027981226

iteration 4400 :
train mse: 37.91950340402683

iteration 4450 :
train mse: 37.79772922668245

iteration 4500 :
train mse: 37.67070454061123

iteration 4550 :
train mse: 37.53821480482246

iteration 4600 :
train mse: 37.40005725578302

iteration 4650 :
train mse: 37.25604432418416

iteration 4700 :
train mse: 37.10600733284637

iteration 4750 :
train mse: 36.949800437017686

iteration 4800 :
train mse: 36.78730475191062

iteration 4850 :
train mse: 36.61843259421305

iteration 4900 :
train mse: 36.44313174503017

iteration 4950 :
train mse: 36.26138962203731

iteration 5000 :
train mse: 36.07323722958088

iteration 5050 :
train mse: 35.87875273834927

iteration 5100 :
train mse: 35.67806453256774

iteration 5150 :
train mse: 35.47135355414452

iteration 5200 :
train mse: 35.258854771565126

iteration 5250 :
train mse: 35.04085760828404

iteration 5300 :
train mse: 34.81770518232736

iteration 5350 :
train mse: 34.58979223677457

iteration 5400 :
train mse: 34.357561680041634

iteration 5450 :
train mse: 34.1214997048919

iteration 5500 :
train mse: 33.88212951430368

iteration 5550 :
train mse: 33.64000374810519

iteration 5600 :
train mse: 33.395695773015895

iteration 5650 :
train mse: 33.14979006593603

iteration 5700 :
train mse: 32.902871981013675

iteration 5750 :
train mse: 32.6555172401119

iteration 5800 :
train mse: 32.4082815191438

iteration 5850 :
train mse: 32.16169051564566

iteration 5900 :
train mse: 31.91623087366126

iteration 5950 :
train mse: 31.672342310048776

iteration 6000 :
train mse: 31.430411233192007

iteration 6050 :
train mse: 31.190766074190297

iteration 6100 :
train mse: 30.953674466914933

iteration 6150 :
train mse: 30.719342322959964

iteration 6200 :
train mse: 30.487914757070257

iteration 6250 :
train mse: 30.259478734492305

iteration 6300 :
train mse: 30.034067239420928

iteration 6350 :
train mse: 29.811664707534383

iteration 6400 :
train mse: 29.592213428088638

iteration 6450 :
train mse: 29.37562060299444

iteration 6500 :
train mse: 29.16176575089142

iteration 6550 :
train mse: 28.950508161255414

iteration 6600 :
train mse: 28.74169413383768

iteration 6650 :
train mse: 28.535163778505467

iteration 6700 :
train mse: 28.330757195981747

iteration 6750 :
train mse: 28.12831990746

iteration 6800 :
train mse: 27.927707447503003

iteration 6850 :
train mse: 27.72878907759973

iteration 6900 :
train mse: 27.531450615563397

iteration 6950 :
train mse: 27.33559640762158

iteration 7000 :
train mse: 27.141150495213097

iteration 7050 :
train mse: 26.94805704729189

iteration 7100 :
train mse: 26.75628014182809

iteration 7150 :
train mse: 26.56580298789065

iteration 7200 :
train mse: 26.376626682999742

iteration 7250 :
train mse: 26.18876860016847

iteration 7300 :
train mse: 26.00226049597849

iteration 7350 :
train mse: 25.81714642583323

iteration 7400 :
train mse: 25.633480545779634

iteration 7450 :
train mse: 25.451324872457054

iteration 7500 :
train mse: 25.270747064199764

iteration 7550 :
train mse: 25.091818277392118

iteration 7600 :
train mse: 24.914611143101908

iteration 7650 :
train mse: 24.73919790000655

iteration 7700 :
train mse: 24.565648710860792

iteration 7750 :
train mse: 24.394030181398215

iteration 7800 :
train mse: 24.224404092761016

iteration 7850 :
train mse: 24.05682635144768

iteration 7900 :
train mse: 23.8913461544723

iteration 7950 :
train mse: 23.72800536203415

iteration 8000 :
train mse: 23.566838065565552

iteration 8050 :
train mse: 23.407870335590577

iteration 8100 :
train mse: 23.251120131381715

iteration 8150 :
train mse: 23.096597352905707

iteration 8200 :
train mse: 22.944304014930086

iteration 8250 :
train mse: 22.79423452331649

iteration 8300 :
train mse: 22.646376034331436

iteration 8350 :
train mse: 22.50070887912372

iteration 8400 :
train mse: 22.357207037205498

iteration 8450 :
train mse: 22.21583864469274

iteration 8500 :
train mse: 22.076566525079276

iteration 8550 :
train mse: 21.93934873232342

iteration 8600 :
train mse: 21.804139097923205

iteration 8650 :
train mse: 21.670887775375007

iteration 8700 :
train mse: 21.53954177690264

iteration 8750 :
train mse: 21.410045498584708

iteration 8800 :
train mse: 21.282341230992074

iteration 8850 :
train mse: 21.156369653185873

iteration 8900 :
train mse: 21.032070308444503

iteration 8950 :
train mse: 20.909382060418878

iteration 9000 :
train mse: 20.788243528597672

iteration 9050 :
train mse: 20.668593502038135

iteration 9100 :
train mse: 20.550371330322687

iteration 9150 :
train mse: 20.43351729067114

iteration 9200 :
train mse: 20.31797293010324

iteration 9250 :
train mse: 20.203681381528984

iteration 9300 :
train mse: 20.090587652662276

iteration 9350 :
train mse: 19.97863888671607

iteration 9400 :
train mse: 19.867784593949803

iteration 9450 :
train mse: 19.757976853300896

iteration 9500 :
train mse: 19.649170483537905

iteration 9550 :
train mse: 19.541323183615017

iteration 9600 :
train mse: 19.434395642177705

iteration 9650 :
train mse: 19.328351616456334

iteration 9700 :
train mse: 19.223157981078767

iteration 9750 :
train mse: 19.118784747624346

iteration 9800 :
train mse: 19.01520505602106

iteration 9850 :
train mse: 18.91239513914854

iteration 9900 :
train mse: 18.810334262244677

iteration 9950 :
train mse: 18.70900463891974

iteration 10000 :
train mse: 18.608391325754905

iteration 10050 :
train mse: 18.508482097601487

iteration 10100 :
train mse: 18.409267305801336

iteration 10150 :
train mse: 18.310739721619182

iteration 10200 :
train mse: 18.212894367215174

iteration 10250 :
train mse: 18.11572833649205

iteration 10300 :
train mse: 18.019240608129234

iteration 10350 :
train mse: 17.923431853067513

iteration 10400 :
train mse: 17.828304238636154

iteration 10450 :
train mse: 17.73386123142148

iteration 10500 :
train mse: 17.64010740086539

iteration 10550 :
train mse: 17.547048225456173

iteration 10600 :
train mse: 17.454689903235096

iteration 10650 :
train mse: 17.363039168193083

iteration 10700 :
train mse: 17.272103113974453

iteration 10750 :
train mse: 17.18188902614154

iteration 10800 :
train mse: 17.092404224087385

iteration 10850 :
train mse: 17.00365591351492

iteration 10900 :
train mse: 16.91565105023312

iteration 10950 :
train mse: 16.828396215854227

iteration 11000 :
train mse: 16.74189750581387

iteration 11050 :
train mse: 16.65616042997906

iteration 11100 :
train mse: 16.57118982595896

iteration 11150 :
train mse: 16.48698978509175

iteration 11200 :
train mse: 16.403563590948938

iteration 11250 :
train mse: 16.320913670076738

iteration 11300 :
train mse: 16.23904155458441

iteration 11350 :
train mse: 16.157947856091475

iteration 11400 :
train mse: 16.077632250460653

iteration 11450 :
train mse: 15.99809347267125

iteration 11500 :
train mse: 15.919329321128407

iteration 11550 :
train mse: 15.841336670657713

iteration 11600 :
train mse: 15.76411149340073

iteration 11650 :
train mse: 15.68764888680583

iteration 11700 :
train mse: 15.611943107898558

iteration 11750 :
train mse: 15.536987613016567

iteration 11800 :
train mse: 15.462775102204635

iteration 11850 :
train mse: 15.38929756748467

iteration 11900 :
train mse: 15.316546344242756

iteration 11950 :
train mse: 15.24451216500897

iteration 12000 :
train mse: 15.173185214945294

iteration 12050 :
train mse: 15.10255518840064

iteration 12100 :
train mse: 15.0326113459394

iteration 12150 :
train mse: 14.963342571299659

iteration 12200 :
train mse: 14.894737427788334

iteration 12250 :
train mse: 14.826784213672337

iteration 12300 :
train mse: 14.759471016176409

iteration 12350 :
train mse: 14.692785763748969

iteration 12400 :
train mse: 14.626716276306414

iteration 12450 :
train mse: 14.561250313213812

iteration 12500 :
train mse: 14.49637561880415

iteration 12550 :
train mse: 14.432079965281048

iteration 12600 :
train mse: 14.368351192888237

iteration 12650 :
train mse: 14.305177247265636

iteration 12700 :
train mse: 14.242546213944166

iteration 12750 :
train mse: 14.180446349961244

iteration 12800 :
train mse: 14.118866112604993

iteration 12850 :
train mse: 14.057794185318514

iteration 12900 :
train mse: 13.997219500815634

iteration 12950 :
train mse: 13.937131261476862

iteration 13000 :
train mse: 13.877518957108913

iteration 13050 :
train mse: 13.818372380163138

iteration 13100 :
train mse: 13.759681638518071

iteration 13150 :
train mse: 13.70143716593889

iteration 13200 :
train mse: 13.643629730332307

iteration 13250 :
train mse: 13.58625043991945

iteration 13300 :
train mse: 13.529290747451814

iteration 13350 :
train mse: 13.47274245259648

iteration 13400 :
train mse: 13.416597702616782

iteration 13450 :
train mse: 13.360848991473743

iteration 13500 :
train mse: 13.305489157471538

iteration 13550 :
train mse: 13.250511379567934

iteration 13600 :
train mse: 13.195909172467333

iteration 13650 :
train mse: 13.141676380610544

iteration 13700 :
train mse: 13.087807171171391

iteration 13750 :
train mse: 13.034296026166057

iteration 13800 :
train mse: 12.981137733776523

iteration 13850 :
train mse: 12.928327378984921

iteration 13900 :
train mse: 12.875860333610893

iteration 13950 :
train mse: 12.823732245839361

iteration 14000 :
train mse: 12.771939029321338

iteration 14050 :
train mse: 12.720476851925774

iteration 14100 :
train mse: 12.669342124215822

iteration 14150 :
train mse: 12.618531487718304

iteration 14200 :
train mse: 12.568041803050834

iteration 14250 :
train mse: 12.517870137966659

iteration 14300 :
train mse: 12.46801375537313

iteration 14350 :
train mse: 12.41847010137566

iteration 14400 :
train mse: 12.369236793395094

iteration 14450 :
train mse: 12.32031160840267

iteration 14500 :
train mse: 12.271692471313067

iteration 14550 :
train mse: 12.223377443572542

iteration 14600 :
train mse: 12.175364711975872

iteration 14650 :
train mse: 12.127652577742468

iteration 14700 :
train mse: 12.080239445879016

iteration 14750 :
train mse: 12.033123814853058

iteration 14800 :
train mse: 11.986304266598989

iteration 14850 :
train mse: 11.939779456875366

iteration 14900 :
train mse: 11.893548105989751

iteration 14950 :
train mse: 11.84760898990487

iteration 15000 :
train mse: 11.801960931737502

iteration 15050 :
train mse: 11.756602793659361

iteration 15100 :
train mse: 11.711533469206957

iteration 15150 :
train mse: 11.66675187600556

iteration 15200 :
train mse: 11.622256948910422

iteration 15250 :
train mse: 11.578047633566573

iteration 15300 :
train mse: 11.534122880386878

iteration 15350 :
train mse: 11.490481638946456

iteration 15400 :
train mse: 11.447122852789974

iteration 15450 :
train mse: 11.404045454647093

iteration 15500 :
train mse: 11.36124836204987

iteration 15550 :
train mse: 11.318730473344916

iteration 15600 :
train mse: 11.276490664091826

iteration 15650 :
train mse: 11.23452778383855

iteration 15700 :
train mse: 11.192840653263348

iteration 15750 :
train mse: 11.151428061672199

iteration 15800 :
train mse: 11.110288764839824

iteration 15850 :
train mse: 11.069421483181737

iteration 15900 :
train mse: 11.028824900244294

iteration 15950 :
train mse: 10.98849766149919

iteration 16000 :
train mse: 10.948438373428361

iteration 16050 :
train mse: 10.908645602885095

iteration 16100 :
train mse: 10.869117876716748

iteration 16150 :
train mse: 10.829853681634367

iteration 16200 :
train mse: 10.790851464314434

iteration 16250 :
train mse: 10.752109631717802

iteration 16300 :
train mse: 10.713626551611021

iteration 16350 :
train mse: 10.675400553275264

iteration 16400 :
train mse: 10.637429928388242

iteration 16450 :
train mse: 10.599712932064618

iteration 16500 :
train mse: 10.562247784040773

iteration 16550 :
train mse: 10.525032669989908

iteration 16600 :
train mse: 10.488065742953951

iteration 16650 :
train mse: 10.451345124878975

iteration 16700 :
train mse: 10.414868908241253

iteration 16750 :
train mse: 10.378635157751583

iteration 16800 :
train mse: 10.342641912125824

iteration 16850 :
train mse: 10.306887185910185

iteration 16900 :
train mse: 10.27136897135024

iteration 16950 :
train mse: 10.236085240293182

iteration 17000 :
train mse: 10.201033946113316

iteration 17050 :
train mse: 10.166213025651375

iteration 17100 :
train mse: 10.131620401158777

iteration 17150 :
train mse: 10.09725398223845

iteration 17200 :
train mse: 10.063111667774471

iteration 17250 :
train mse: 10.029191347843225

iteration 17300 :
train mse: 9.995490905599464

iteration 17350 :
train mse: 9.962008219131034

iteration 17400 :
train mse: 9.928741163276715

iteration 17450 :
train mse: 9.895687611402085

iteration 17500 :
train mse: 9.862845437128758

iteration 17550 :
train mse: 9.830212516013033

iteration 17600 :
train mse: 9.797786727170273

iteration 17650 :
train mse: 9.765565954841978

iteration 17700 :
train mse: 9.733548089902829

iteration 17750 :
train mse: 9.70173103130552

iteration 17800 :
train mse: 9.670112687461588

iteration 17850 :
train mse: 9.638690977556793

iteration 17900 :
train mse: 9.607463832800084

iteration 17950 :
train mse: 9.576429197605437

iteration 18000 :
train mse: 9.545585030706272

iteration 18050 :
train mse: 9.514929306202422

iteration 18100 :
train mse: 9.484460014539959

iteration 18150 :
train mse: 9.4541751634244

iteration 18200 :
train mse: 9.42407277866817

iteration 18250 :
train mse: 9.394150904973287

iteration 18300 :
train mse: 9.36440760665058

iteration 18350 :
train mse: 9.334840968276888

iteration 18400 :
train mse: 9.305449095291795

iteration 18450 :
train mse: 9.276230114535743

iteration 18500 :
train mse: 9.247182174731355

iteration 18550 :
train mse: 9.218303446910028

iteration 18600 :
train mse: 9.189592124785863

iteration 18650 :
train mse: 9.16104642507912

iteration 18700 :
train mse: 9.132664587791483

iteration 18750 :
train mse: 9.10444487643535

iteration 18800 :
train mse: 9.076385578219535

iteration 18850 :
train mse: 9.048485004193688

iteration 18900 :
train mse: 9.020741489353785

iteration 18950 :
train mse: 8.993153392711015

iteration 19000 :
train mse: 8.965719097326375

iteration 19050 :
train mse: 8.93843701031328

iteration 19100 :
train mse: 8.911305562810396

iteration 19150 :
train mse: 8.88432320992694

iteration 19200 :
train mse: 8.857488430662526

iteration 19250 :
train mse: 8.830799727803683

iteration 19300 :
train mse: 8.804255627799048

iteration 19350 :
train mse: 8.777854680615116

iteration 19400 :
train mse: 8.751595459574473

iteration 19450 :
train mse: 8.725476561178219

iteration 19500 :
train mse: 8.699496604914293

iteration 19550 :
train mse: 8.67365423305328

iteration 19600 :
train mse: 8.647948110433212

iteration 19650 :
train mse: 8.622376924234775

iteration 19700 :
train mse: 8.596939383748214

iteration 19750 :
train mse: 8.571634220133182

iteration 19800 :
train mse: 8.546460186172684

iteration 19850 :
train mse: 8.521416056022117

iteration 19900 :
train mse: 8.496500624954383

iteration 19950 :
train mse: 8.471712709101958

iteration 20000 :
train mse: 8.447051145196646

####Making Predictions

In [ ]:
def encode_new_data(valid_df, user_ids, prod_ids):
    """ Encodes valid_df with the same encoding as train_df.
    """
    df_val_chosen = valid_df['product_id'].isin(prod_ids.keys()) & valid_df['user_id'].isin(user_ids.keys())
    valid_df = valid_df[df_val_chosen]
    valid_df['product_id'] =  np.array([prod_ids[x] for x in valid_df['product_id']])
    valid_df['user_id'] = np.array([user_ids[x] for x in valid_df['user_id']])
    return valid_df

In [ ]:
print("before encoding:", dfp.shape)
dfp_original_idx = encode_new_data(dfp, id_users, id_prods)
print("after encoding:", dfp_original_idx.shape)

before encoding: (81137, 4)
after encoding: (81137, 4)

In [ ]:
dfp_original_idx

       user_id  product_id  quantity  prediction
0         3373        1978        23   28.505148
1         1430        3347         2    1.612112
2         3893        4103         1    0.359289
3         1872        1351         2    2.618326
4         2060        2738         2    1.792436
...        ...         ...       ...         ...
81132     1778        3895         3    1.498406
81133     3035        1794         2    1.379310
81134     3406        3302         7    2.488433
81135     2733         126         1    1.027973
81136     4396        1906         1    6.414129

[81137 rows x 4 columns]

In [ ]:
test_submission = dfp_original_idx.groupby(['user_id']).apply(lambda x: int(x.loc[x.prediction.idxmax()]['product_id'] ))

In [ ]:
submission_name = "learn_quants"
my_accuracy = my_submit(submission_name, test_submission)
print ("Submission Accuracy for {s} : {a:0.2f}%".format(a=100*my_accuracy, s=submission_name))

Submission Accuracy for learn_quants : 25.68%

In [ ]:
# print("before encoding:", valid_df.shape)
# valid_df = encode_new_data(valid_df, user_ids, prod_ids)
# print("after encoding:", valid_df.shape)

In [ ]:
# train_mse = cost(train_df, emb_user, emb_prod)
# val_mse = cost(valid_df, emb_user, emb_prod)
# print(train_mse, val_mse)

## See how you compare:

Visit http://leaderboard.argmax.ml/jul

In [ ]:
valid_df.head()

   user_id  product_id  quantity  prediction
0      363          83         1    0.699034
1      549        2103         1    2.162716
2      551         654         1    1.567627
3      830        1458         1    2.949503
4     1021        1454         1    3.194179

In [ ]:
test_submission = df.groupby("user_id")["prediction"]\
                    .apply(lambda x: list(x)[0]).to_dict()

In [ ]:
test_submission = dfp_original_idx.groupby(['user_id']).apply(lambda x: int(x.loc[x.prediction.idxmax()]['product_id'] ))

In [ ]:
submission_name = "learn_quants"
my_accuracy = my_submit(submission_name, test_submission)
print ("Submission Accuracy for {s} : {a:0.2f}%".format(a=100*my_accuracy, s=submission_name))

Submission Accuracy for learn_quants : 19.36%

##Evaluation 4 - 
###Microsoft Convolutional Sequence Embedding Recommendation (Caser)